.pic {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}
#cards {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     gap: 2px;
      align-content: center;
     gap: 20px;
}
.pic img{
    width: 250px;
    height: 250px;
}