header,
footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1em 0;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

main p {
    color: black;
}

main {
    background-color: white;

}