@media screen and (min-width: 768px) {
    .stars {
        display: flex;
        justify-content: left;
        gap: 2rem;
        /* space between each star-rating group */
    }

    .stars>div {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .stars label {
        font-size: 2rem;
        /* adjust star size */
        margin-bottom: 0.25rem;
        /* space between star and radio */
    }

    .stars input[type="radio"] {
        margin: 0;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        text-align: center;
        background-color: blue;
        color: white;
        padding: 10px;
    }

    .site-footer {
        background-color: blue;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 20px;
    }

    main {
        background-color: #d6ced6;
        padding: 2rem 1rem;

    }

    #scholarshipname {
        appearance: none;
        height: 44px;
        width: 520px;
    }

    #reviewDate {
        height: 44px;
        width: 520px;
    }

    #reviewText,
    #reviewTexta {
        width: 520px;
        height: 100px;
    }

    #reviewTexta {
        height: 44px;
    }

    #postreview {
        height: 44px;
        width: 529px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        /* Adjust the value for more or less space */
    }

    input[type="checkbox"] {
        width: 24px;
        height: 24px;
    }


}