main {
    background-color: #d6ced6;
    height: 400px;
    
}   
    
.site-footer {
    background-color: Blue;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
h1 {
    text-align: center;
    background-color: Blue;
    color: white;
    padding: 10px;
}
p{
    width: 100%;
}   